.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 30px;
  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: inherit;
  border-radius: var(--radius-m);

  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }
}

.link {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.primary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.secondary {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.fullWidth {
  width: 100%;
}
